* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", "Arial", sans-serif;
}
li,
a {
  font-size: 18px;
  color: #181818;
  font-weight: 600;
  list-style: none;
  text-decoration: none;
}
li:hover,
a:hover {
  color: #676767;
}
