.header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #676767;
}
nav {
  padding: 20px;
  width: 700px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.first-block,
.baner,
.date {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-style {
  padding: 20px;
  width: 700px;
  padding-top: 50px;
}
h1 {
  font-size: 45px;
  margin-top: 50px;
}
h2 {
  font-size: 25px;
  font-weight: 400;
}
p {
  font-size: 18px;
  line-height: 3;
}
.logotip {
  width: 100px;
}
ul {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.share-icons {
  width: 700px;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.icon {
  width: 25px;
  height: 25px;
}
.line {
  width: 700px;
  padding: 20px;
  display: flex;
  border-bottom: 1px solid #676767;
  justify-content: center;
}
.baner-image {
  width: 1080px;
  height: 500px;
  object-fit: cover;
  display: inline-block;
  border-radius: 15px;
}
.date {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
}
.footer {
  padding-top: 25px;
  display: flex;
  justify-content: center;
  border-top: 1px solid #676767;
}
.footer-menu {
  display: flex;
  justify-content: center;
}
.mysigned {
  display: flex;
  justify-content: center;
  padding: 25px;
}
/*Далее идут стили для страницы категорий*/
.content-in-border {
  display: flex;

  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.content-in-border__style {
  width: 700px;
  border: #dcdfe4 solid 1px;
  border-radius: 3px;
  padding: 20px;
  height: 250px;
  display: flex;

  flex-direction: column;
  justify-content: space-between;
  transition: 150ms;
}
.content-in-border__style:hover {
  border: #000000 solid 1px;
  transition: 200ms;
}
